auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*better-sqlite3*
public-hoist-pattern[]=*bufferutil*
public-hoist-pattern[]=*sqlite3*
